.container {
  display: flex;

  .menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 90px;
    width: 100%; /* DEIXOU CENTER */
    background: var(--bg-black);
    color: var(--white);
  }
}


