@media(max-width:768px){
    #update {
        width: 30% !important;
    }
}
@media(max-width:480px){
    :is(h2,span){
        font-size: 1.6rem;
    }
    .menu{
        padding:2rem 7%;
    }
    .panel{
        padding-top:120px;
        padding-left:7%;
        padding-right:7%;
    }
}