.panel {
  width: 100%;
  max-width: 400px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  margin: 2rem auto;
  margin-bottom: 0;
  // padding:0 4%;
  padding-top: 95px;
  // margin-top: 1rem;
  .square {
    background-color: var(--blue);
    border: 1px solid #000;
    width: 100%;
    padding-top: 100%;
    // padding-top: 75%;
    // padding-top: calc((3 / 4) * 100%);
    &:hover{
      cursor: pointer;
    }
  }
  .enemy {
    // background: var(--red);
    background-image: url("../images/ralph.png");
    background-position: center;
    background-size: 100px;
    background-repeat: no-repeat;
  }
}
