@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@100;200;300;400;500;600;700&family=Press+Start+2P&family=Roboto:wght@100;300;400;500;700&display=swap");

:root {
  --bg-black: #000;
  --white: #fff;
  --red: #dd0031;
  --red2:#dd0012;
  --blue:#1aeaa5a8;
  --gold: #ffd500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", "Bebas Neue", sans-serif;
}
html {
  font-size: 62.5%;
}
html {
  /* font-size: 62.5%; */
  scroll-padding-top: 4rem;
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 1rem;
  height: 0.25px;
}
html::-webkit-scrollbar-track {
  /* background: transparent; */
  background: inset 0 0 5px #a5aaad;
}
html::-webkit-scrollbar-thumb {
  background: var(--red);
  border-radius: 5rem;
}
html::-webkit-scrollbar-thumb:hover {
  background: var(--red2);
  cursor: pointer !important;
}

h2,
span {
  font-size: clamp(1.4rem,3.5vw,2.4rem);
  // display: block;
  // max-width: 120px;
  width:100%;

}
section {
  padding:0 0 2rem;
}
